# Highest Paid Executives Data Analysis Demo

##### Install and Import any dependencies needed

##### Read in a dataset (table) with pandas

##### Call the dataframe (to view the content) -- demo head() and tail() too

##### Run a few descriptive statistics on the dataframe -- Get the number of columns and rows -- demo shape and info()

##### Try using the describe method on the dataframe

##### drop any values that are not important in the dataframe -- drop(columns = []) AND drop(index = [])

##### Check your work -- call the dataframe

##### sort the dataframe by the 'Difference in Pay' column

##### Create two new dataframes - one for male executives and one for female executives

In [49]:
#Start with building a new dataframe called Female_executives

In [50]:
#Call Female_executives

In [125]:
#Build another dataframe called Male_executives

In [52]:
#Call Male_executives

In [100]:
##### Run the describe method on each of the new dataframes

##### sort Female_executives and Male_executives dataframes by lowest to highest salary figures

In [113]:
#Sort Female_executives using sort_values()

In [114]:
#Call Female_executives

In [117]:
#Sort Male_executives using sort_values()

In [116]:
#Call Male_executives

##### Create variables for the male and female executives with the highest salary

##### Find the difference between the highest male and female salaries

##### Use the describe method on Male_executives with respect to companies

##### Use boolean indexing to find the executives that work at Oracle

In [70]:
#Which male executives work for Oracle?

In [69]:
#How many female executives work at Oracle?

##### Are there any other companies that stand-out by appearing more than once?

In [76]:
# Use value_counts() to list distinct company names for Male_executives

In [77]:
# Use value_counts() to list distinct company names for Female_executives