# Pandas Practice Run

##### Import Pandas as 'pd'

##### Read in the excel file and save it to a variable (name it)

##### Take a look at your dataset briefly - (1) Call the dataset, (2) use the head() method, (3) use the tail() method.

##### Run descriptive statistics on the file. Try using the following methods: shape, describe(), and info()

##### Are there any columns with NaN values that can be dropped? Drop them with drop(columns = [])

In [ ]:
# Remember to use one of the following to keep the changes in place:
# 'inplace = True' OR reassign the dataframe to a variable

##### Check your work - call the DataFrame and check if the columns were dropped. Can anything else be dropped?

##### Try dropping the last two rows because they contain NaN values. Use drop(index = []).

##### Call the DataFrame, again, to check your work

##### Index search for the salary column to find the highest paid male. Do the same for females. Save each to a variable.

##### What is the mean salary of male executives? Mean salary of female executives? Save both the values in variables.

##### What is the difference between the highest paid male and the mean male salary? What about for females?

##### Combine the two salary columns into one column using the append() method. Save this column to a variable. It should now be a series.

In [122]:
new_column = executives['Salary'].append(executives['Salary.1'])

##### Check the what datatype your new variable holds. Just to be sure.

##### Call the series. Does it have an oddly numbered index?

##### Reset the index of the new series. Use reset_index() method and save the result to a new variable.

##### Call the new result. Notice it has a new column named 'index'? Drop that column using drop(columns = []).

##### Check what datatype the column is now.

##### Rename the sole column to 'total salaries' using rename(columns = []).

##### What is the mean of all the executive salaries?

##### Search for salaries above $30,000,000

##### Run summary statistics on the column with all the executive salaries? Use shape, and describe() methods.

##### Search for salaries for all Oracle executives